@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply contents;
  }

  html {
    @apply h-full scroll-smooth antialiased;
  }

  body {
    @apply flex h-full flex-col text-stone-600;
  }

  main {
    @apply grow;
  }

  .section {
    @apply py-24;
  }

  .container {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .title {
    @apply font-bold tracking-tight;
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carousel-slide {
  min-width: 100vw; /* Ensure each slide takes the full width of the viewport */
  flex-shrink: 0;
  height: auto; /* Adjust this height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.carousel-slide:hover {
  transform: translateY(-4px);
}

.carousel-container {
  width: 100vw; /* Ensure the container takes the full width of the viewport */
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.carousel-button {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-button.active {
  background-color: purple;
}
